* text=auto

*.R text eol=lf
*.Rd text eol=lf
*.md text eol=lf
DESCRIPTION text eol=lf
NAMESPACE text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
.Rbuildignore text eol=lf

*.rda binary
*.RData binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.tar.gz binary
